# Enable USB OTG
CONFIG_USB_OTG_SUPPORTED=y

# TWAI Configuration
CONFIG_TWAI_ISR_IN_IRAM=y
CONFIG_PCAN_USB_LINK_LED_PIN=8
CONFIG_PCAN_CAN_ACTIVITY_LED_PIN=9
# CONFIG_PCAN_LED_ACTIVE_LOW is not set

# FreeRTOS config for faster response
CONFIG_FREERTOS_HZ=1000

# Compiler options
CONFIG_COMPILER_OPTIMIZATION_PERF=y
